@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    color: darkslategray;
}

.activityCreate:hover, .activityView:hover{
    cursor: pointer;
}

.activityIcon {
    color: mediumseagreen;
    text-align: center;
    font-size: 275px;
}

.activityIconSidebar {
    color: mediumseagreen;
    text-align: center;
    font-size: 48px;
}

.activityDescription {
    text-align: center;
}

.createActivity, .viewActivity {
    display: none;
    padding-top: 1em;
    padding-left: 1em;
}

h1 {
    margin-top: 0px;
}

.activityIcon:hover {
    color: seagreen;
}

#middleline {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid mediumseagreen;
    padding-top: 20px;
}

.total {
    background-color: #EEE;
    width: 750px;
    height: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: mediumseagreen;
    margin-bottom: 50px;
    border-radius: 4px;
}

#loader {
    display: none;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.sidebar {
    display: none;
    position: absolute;
    vertical-align: middle;
    background-color: #EEE;
    width: 125px;
    margin: 0 auto;
    border-bottom-right-radius: 20px;
    border-right: 1px solid mediumseagreen;
    border-bottom: 1px solid mediumseagreen;
}