@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    color: darkslategray;
}
.card {
    margin: 0;
    padding: 0;
}

.cards {
    padding: 10px;
    margin-bottom: 0.5em;
    margin-left: 5%;
    background-color: #EEE;
    clear: both;
    font-size: 20px;
    overflow: auto;
}

.navbar-collapse, .navbar-brand {
    display: inline-block;
}

#logo:hover {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

.total {
    width: 750px;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 100px;
}

#logo {
    width: 31px;
    height: 27px;
    margin-top: -4px;

    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;

    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow: hidden;
}

.nav-item:hover, .current {
    border-bottom: 4px solid mediumseagreen;
    /*border-bottom-right-radius: 2px;*/
    /*border-bottom-left-radius: 2px;*/
}

.navbar-nav, .navbar-brand, .navbar-default {
    height: 46px;
}

.glyphicon {
    margin-left: auto;
    margin-top: 5px;
}
#review-submission {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    margin-left: 10px;
}
#members {
    padding: 10px;
    margin-bottom: 0.5em;
    margin-top: 10px;
    margin-left: 1%;
    border: 3px solid mediumseagreen;
    border-radius: 5px;
    clear: both;
    font-size: 20px;
}
.cards:hover {
    border-bottom: solid 5px mediumseagreen;
    border-radius: 5px;
}
#pageHeader {
    padding-bottom: 5px;
    margin-bottom: 15px;
}
